################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Quero_x64/.vs/Quero/v16
/Quero_x64/ReleaseUMinDependency
/Quero_x64/x64/Unicode Release MinDependency
